<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lee.whdghks913.only3"
    android:versionCode="17"
    android:versionName="2.6" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lee.whdghks913.only3.MainActivity"
            android:allowClearUserData="false"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="lee.whdghks913.only3.AndroidService"
            android:enabled="true" />
        <service
            android:name="lee.whdghks913.only3.MainService"
            android:enabled="true" />

        <receiver
            android:name="lee.whdghks913.only3.BroadCast"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <action android:name="android.intent.action.DATE_CHANGED" /> -->
                <!--
                http://www.masterqna.com/android/576/alarmmanager-
                %EA%B4%80%EB%A0%A8-%EB%AC%B8%EC%9D%98-%EB%93%9C%EB%A6%BD%EB%8B%88%EB%8B%A4
                -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
        <!-- 1.1업데이트
              기기 관리자 권한을 얻습니다 -->
        
        <receiver
            android:name="lee.whdghks913.only3.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name="lee.whdghks913.only3.AppInfoActivity" />
        <activity android:name="lee.whdghks913.only3.Abort" android:excludeFromRecents="true" />
        <activity android:name="lee.whdghks913.only3.Setting" />
        <activity android:name="lee.whdghks913.only3.PassWord" />
        <activity android:name="lee.whdghks913.only3.Welcome" />
    </application>

</manifest>
